.body{
    background-image: url("images/stopwatch.jpg");
    background-size: cover;
}
.text{
    display: inline;
    margin: 10px 20px;
    text-decoration: underline;
}
.num{
    display: inline-block;
    margin: 42px ;
    background-color: white;
    width: 50px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px grey;
}
.numone{
    display: inline-block;
    margin: 50px ;
    background-color: white;
    width: 50px;
    text-align: center;
    margin-top: 0px;
    box-shadow: 2px 2px 2px 2px grey;
}
.col{
    display: inline-block;
}
.but{
    height: 30px;
    width: 100px;
    margin: 25px;
    margin-top: -50px;
    background-color: black;
    box-shadow: 2px 2px 2px 2px grey;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}
.lap{
    font-size: x-large;
    text-decoration: underline;
    font-weight: bolder;
}
.name{
    border-color: black;
}
@media screen and (max-width: 670px){
    .text{
        font-size: large;
    }
}
@media screen and (max-width: 670px){
    .but{
        width: 55px;
    }
}
@media screen and (max-width: 670px){
    .num,.numone{
        width: 25px;
        height: 30px;
        text-align: center;
        margin: 33px;
    }
}
@media screen and (max-width: 455px){
    .text{
        font-size: small;
    }
}
@media screen and (max-width: 455px){
    .but{
        width: 37px;
        font-size: xx-small;
        margin-left: 22px;
    }
}
@media screen and (max-width: 455px){
    .num,.numone{
        width: 25px;
        height: 30px;
        text-align: center;
        margin: 23px;
    }
}
@media screen and (max-width: 384px){
    .text{
        margin-left: 14px;
    }
}
@media screen and (max-width: 384px){
    .but{
        width: 37px;
        font-size: xx-small;
        margin-left: 20px;
    }
}
@media screen and (max-width: 384px){
    .num,.numone{
        width: 25px;
        height: 30px;
        text-align: center;
        margin: 20px;
    }
}